* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: #e5e5e5;
}

.container {
	overflow: auto;
	/* overflow:auto prevents margins collapse between parent (div.container) and last child (a.main-action-button, .footer.container p)*/
	margin: 0 auto;
	min-width: 670px;
	max-width: 1280px;
	width: 100%;
	background-color: #fff;
}

.nav ul {
	text-align: center;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 18px;
}

.nav li {
	display: inline-block;
}

.nav-link {
	display: inline-block;
	margin: 0 36px;
	padding: 26px 0;
	text-decoration: none;
	color: #f00;
}

.big-image {
	margin-bottom: 48px;
	max-width: 100%;
	height: auto;
}

h2 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	letter-spacing: 3.3px;
	text-transform: uppercase;
	text-align: center;
	margin: 0 auto 38px;
}

.main-content p {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	margin: 0 68px 28px;
}

.main-action-button {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 12px;
	letter-spacing: 1.8px;
	display: block;
	width: 191px;
	text-align: center;
	margin: 66px auto 38px;
	padding: 18px;
	background-color: #f00;
	color: #fff;
}

.footer p {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 16px;
	letter-spacing: 2.4px;
	text-align: right;
	line-height: 20px;
	margin-top: 82px;
	margin-bottom: 28px;
	padding-right: 105px;
}